body{
	background: url('img/img.jpg');
}
.div1{

	max-width: 750px;
	padding: 60px 40px;
	border-radius: 25px;
	background-color:rgba(255,255,255,0.30);
	margin-top: 50px;
	margin: 50px auto 25px;

}


input[type=name],
input[type=email],
input[type=password]
{

	max-width: 350px;
	display: block;
	height: 35px;
	width: 100%;
	border-radius: 25px;
	font-size: 16px;

}
button{
	max-width: 100px;
	display: block;
	height: 44px;
	width: 100%;
	border-radius: 25px;
	color: #fff;
	background-color: #204D74;
    font-size: 14px;
    border: none; 
   
}
.Reg{
	color: #204D74;
    margin: 5px 110px;
}
.submit{
	color: white;

}
.carousel-inner{
	 margin: 5px 180px;
}